<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MG.Crm.UpdateUserFromAd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <applicationSettings>
        <MG.Crm.UpdateUserFromAd.Properties.Settings>
            <setting name="DomainName" serializeAs="String">
                <value>domain</value>
            </setting>
            <setting name="ContainerName" serializeAs="String">
                <value>OU=ougroup,DC=domain,DC=com</value>
            </setting>
        </MG.Crm.UpdateUserFromAd.Properties.Settings>
    </applicationSettings>
</configuration>